.panels{
    width: 100vw;
}
li{
    margin: 5px;
}
.main{
    width: 100vw;
}

.myinform{
    flex-direction: column;
    align-items: center;
}
.box{
    margin: 5px auto;
}
.startbtn{
    margin-top: 12px;
}

.tjdwjrvy{
    font-size: 0.75rem;
}