.respage{
    background-color: white;
}
table{
    margin: auto;
    margin-bottom: 12px;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th, td{
    padding: 6px 12px;
}
th{
    background-color: rgb(235, 235, 235);
}

h3{
    margin: 0;
    margin-bottom: 12px;
}

p{
    margin: 12px;
}
.tjdwjrvy{
    position: relative;
    text-align: center;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 24px;
    padding-top: 12px;
}
.tjdwjrvy:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(./img/Artboard\ 1@4x.png); 
    background-repeat: no-repeat; 
    background-size: 32%;
    background-position: 60% 50%;
    z-index: -1;
    opacity: 0.4;
}
.result{
    width: 100%;
}
.shbtns{
    position: relative;
}
.copied{
    position: absolute;
    text-align: center;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.582);
    top: 50%;
    padding: 12px;
    border-radius: 24px;
    color: white;
    visibility: hidden;
}
.copied2{
    visibility: visible;
    animation: blink 2s;
}
@keyframes blink {
    from{
        opacity: 0;
    }
    15%, 60%{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}

.bottom{
    margin-top: 48px;
    font-size: 0.5rem;
}