.myinform{
    display: flex;
    margin-top: 12px;
}
.box{
    display: flex;
    border: 1px solid black;
    margin: 5px;
    width: fit-content;
    height: fit-content;
}
.solid{
    border-right: 1px solid black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.dot{
    border-right: 1px dotted black;
}
.box div{
    padding: 4px;
    padding-left: 6px;
    padding-right: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box div:nth-child(1){
    padding: 4px;
}
input{
    border: none;
    background-color: transparent;
    font-family: 'Noto Serif KR', serif;
    width: 3rem;
    vertical-align: middle;
    font-size: 1rem;
}
.inputs{
    width: 3rem;
}


.inform{
    box-sizing: border-box;
    border: 1px solid black;
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}
ul{
    text-align: left;
}
li{
    margin: 8px;
    list-style: circle;
}