@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');
html{
    font-size: 16px;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(231, 227, 215);
}
div{
    font-family: 'Noto Serif KR', serif;
    font-size: 1rem;
}
.ttt{
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 10px;
    z-index: 10;
}
.main{
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    text-align: center;
}
.title{
    font-family: 'Noto Serif KR', serif;
    font-size: 1.2rem;
    text-align: center;
}
.dkdkdk{
    font-family: song-myung, serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 5px;
}
.panels{
    display: flex;
    justify-content: center;
    width: 500px;
    margin: auto;
    position: relative;
}
.panel{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hidden{
    visibility: hidden;
    height: 0;
}
.icon { 
    position: relative; 
    display: inline-block; 
    width: auto;    
    font-size: 14px; 
    font-weight: 500; 
    color: #333; 
    margin-right: 10px; 
    padding-top: 50px; 
}
.icon.twitter { 
    background-image: url(./img/icon-twitter.png); 
    background-repeat: no-repeat; 
}
.icon.kakao { 
    background-image: url(./img/icon-kakao.png); 
    background-repeat: no-repeat; 
}   

button{
    border: 1px solid black;
    background-color: transparent;
    font-family: 'Noto Serif KR', serif;
    padding: 10px 30px;
    border-radius: 20px;
}

