.selections{
    width: 90%;
    font-size: 1.25rem;
}
.quest{
    width: 90%;
    margin-top: 24px;
}

span{
    transform: translate(-0.5px, 1px);
    margin-left: 12px;
}

img{
    display: block;
    width: 90%;
    margin: auto;
}
.sel{
    display: flex;
    vertical-align: center;
    padding: 8px;
    border-radius: 2rem;
}
.selnum{
    position: absolute;
    visibility: hidden;
}
.on .selnum{
    visibility: visible;
}

.on{
    background-color: rgba(0, 0, 0, 0.05);
}

.sel:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.fakeimg{
    height: 36px;
}